html {
    height: 100%;
}

* {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

body {
    background-image: url(images/lg-background-login.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainlogo {
    max-width: 350px;
    min-width: 100px;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

#mainlogo > img {
    height: 7.5em;
    vertical-align: none;
}

.form {
    background-color: rgb(151, 203, 81);
    max-width: 55%;
    min-width: 45%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: blanchedalmond;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.form-group {
    width: 75%;
    margin: auto;
    margin-top: 5%;
}

.form-check {
    width: 75%;
    margin: auto;
    margin-top: 5%;
}

.form .form-button {
    width: 25%;
    margin: auto;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 2.5%;
}