html {
    height: 100%;
}

* {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

body {
    background-image: url(images/lg-background-login.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainlogo {
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#mainlogo > img {
    height: 7.5em;
    vertical-align: none;
    margin: auto;
    clear: both;
}

.buttons {
/*background-color: teal;*/
height: fit-content;
margin: auto;
}

.form {
    background-color: rgb(151, 203, 81);
    max-width: 55%;
    min-width: 45%;
    height: 50%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: rgb(10, 148, 67);
    padding-top: 2.5%;
    border-radius: 10px;
    margin-bottom: 10%;
}

.form-group {
    width: 75%;
    margin: auto;
    margin-bottom: 2.5%;
}

.form-check {
    width: 75%;
    margin: auto;
    margin-top: 2.5%;
}

.form .form-button {
    width: 35%;
    margin: auto;
    font-weight: bolder;
    margin-top: 2.5%;
    margin-bottom: 1%;
}
