* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body {
    background-color: black;
}

#mainlogo {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#mainlogo > img {
    height: 10em;
    vertical-align: none;
    margin: auto;
    clear: both;
}


.text-center {
    margin: 2.5%;
}

.signup-form{
    width: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
}

#password {
    clear: right;
}

#confpassword {
    clear: right;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#inputAddressStreet1 {
    margin-top: 5px;
    margin-bottom: 5px;
}