* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.text-center {
    margin: 2.5%;
}

.signup-form{
    width: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
}

#password {
    clear: right;
}

#confpassword {
    clear: right;
}

.btn {
    margin: auto;
}

#inputAddressStreet1 {
    margin-top: 5px;
    margin-bottom: 5px;
}