body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 10px;
  border: 0;
}

#container1 {
    background-color: violet;
    width: 40%;
    float: left;
}

#container2{
    background-color: teal;
    width: 40%;
    float: left;
}

.card-header {
    margin: 1%;
}

.card-title {
color: red;
}

a:hover {
    color: seashell;
}